laavel/node_modules
laavel/public/hot
laavel/public/storage
laavel/storage/*.key
laavel/vendor
laavel/.env
.phpunit.result.cache
laravel/Homestead.json
laravel/Homestead.yaml
npm-debug.log
yarn-error.log

pgsql/postgres-data

run/var